/** THE MAIN BLUE USED IS

#2b90d9


Classes I created so far:

portfolio-thumbnail
text/text2

**/



.wrapper{
  width:1400px;
  margin:0 auto;
  color: black;
  
}
.portfolio-thumbnail{
  float:left;
  width:40%;
  border:3px solid lightgray;
  border-style: outset; 
  border-radius: 15px;
  box-sizing: border-box;
  position:relative;
  background: lightblue;

}

.portfolio-thumbnail img{
  max-width:100%;
    margin: auto;
}
/**
.portfolio-thumbnail2{
  float:left;
  width:40%;
  border:3px solid lightgray;
  border-radius: 15px;
  border-style: outset; 
  box-sizing: border-box;
  position:relative;
  background: lightblue;
}

Use this if i want to go back to having two different color buttons

**/

.portfolio-thumbnail2 img{
  max-width:100%;
    margin: auto;
    
}

figcaption::after {
    float:right;
        
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.text {
	position: absolute;
	font-family: "Work Sans";
	font-size:40px;
    vertical-align: middle;
    line-height: 200em;
	font-style: bold;
	color: gray;
	background-color: #edeff0;
	width: 100%;
	line-height:50px;
    padding-top: 65px;
	text-align: center;
    text-shadow: 1px 1px black;
	z-index:10;
	opacity: 0;
  display:block;
  height:100%;
  overflow: hidden;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
/** not using this rn

.text2 {
	position: absolute;
	font-family: "Work Sans";
	font-size:30px;
	font-style: bold;
	color: gray;
	background-color:lightyellow;
	width: 100%;
	line-height:50px;
	text-align: center;
	opacity: 0;
  display:block;
  height:100%;
  overflow: hidden;
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
**/





    
    
.text:hover {
	opacity:1;
}

.text2:hover {
	opacity:1;
}